$highlight-color: #7957d5;

small {
  font-size: .7em;
}

nav {
  text-align: left;

  .navbar-item,
  .navbar-link {
    &.router-link-active:not(.is-home) {
      color: $highlight-color;
    }

    &.router-link-exact-active {
      color: $highlight-color;
    }
}
}

main {
  min-height: calc(100vh - 250px);

  .full-width {
    width: 100%;
  }

  .is-underline {
    text-decoration: underline;
  }

  .blink {
    animation: blinker 3s linear infinite;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
