// Mixins
@import 'mixins';
$white: #fff;

// Timeline
// https://github.com/itbruno/responsive-timeline
*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  &::before {
    background: $timeline-color;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }

  .timeline-item {
    @extend %clearfix;
    margin-bottom: 50px;
    position: relative;

    .timeline-icon {
      @include prefix(border-radius, 50%);
      background: $timeline-color;
      height: 50px;
      left: 50%;
      margin-left: -23px;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 50px;

      .icon {
        color: $white;
        left: 14px;
        position: relative;
        top: 12px;
      }
    }

    .timeline-content {
      @include prefix(box-shadow, 0 3px 0 1px rgba(0, 0, 0, .1));
      @include prefix(border-radius, 5px);
      @include prefix(transition, all .3s ease);
      background: $white;
      padding: 20px;
      width: 45%;

      h2 {
        @include prefix(border-radius, 3px 3px 0 0);
        background: $timeline-color;
        color: $white;
        font-weight: 500;
        margin: -20px -20px 0;
        padding: 15px;
      }

      h3 {
        margin: 10px 0;
      }

      &::before {
        border-bottom: 7px solid transparent;
        border-left: 7px solid $timeline-color;
        border-top: 7px solid transparent;
        content: '';
        height: 0;
        left: 45%;
        position: absolute;
        top: 20px;
        width: 0;
      }
    }

    &:nth-child(even) {
      .timeline-content {
        float: right;

        &::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          content: '';
          left: inherit;
          right: 45%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .timeline {
    margin: 30px;
    padding: 0;

    &::before {
      left: 30px;
    }

    .timeline-item,
    .timeline-item:nth-child(even) {
      .timeline-content {
        float: right;
        width: 90%;

        &::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          left: 10%;
          margin-left: -6px;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}
